.hero-image {
    background-image: 
        linear-gradient(to bottom, rgba(25, 42, 31, 1) 0px, rgba(112, 187, 139, 0) 293px), 
        linear-gradient(to top, rgba(25, 42, 31, 1) 0px, rgba(112, 187, 139, 0) 293px), 
        url('../images/hero-image-gardeningtips.jpg');
}

/* === Tips Section === */
.tips-overview-section {
    padding: 60px 160px;
    background-color: #FFFAF4;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

.tips-category {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60px;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 1px solid;
    padding-bottom: 30px;
}

.tips-category-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.tips-category-left {
    flex: 1 1 60%;
}

.tips-category-right {
    flex: 1 1 35%;
    text-align: right;
}

.tips-category-title {
    font-size: 36px;
    font-weight: 700;
    color: #192A1F;
    margin-bottom: 32px;
    scroll-margin-top: 175px;
}

.tips-title {
    margin-bottom: 48px;
}

.tips-category-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tips-category-list li {
    margin-bottom: 16px;
    line-height: 1.7;
}

.tips-category-suggestion {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #241934;
    margin-top: 40px;
}

.tips-category-suggestion a {
    color: #241934;
    transition: color 0.2s;
}

.tips-category-suggestion a:hover,
.tips-category-suggestion a:focus-within {
    color: #6A1B9A;
}

.tips-toc-container {
    background-color: #C8E6C9;
    color: #241934;
    border-radius: 8px;
    max-width: 915px;
    padding: 16px 24px;
    margin: 0 auto;
}

.tips-toc {
    margin-top: 16px;
    padding-left: 0;
}


.toc-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 80px;
}

.tips-border {
    border-bottom: 3px solid #F9F9F9;
    max-width: 940px;
    margin: 0 auto;
    justify-content: center;
}

.tips-intro-text {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 30px;
    color: #F9F9F9;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.tips-intro-text a {
    text-decoration: none;
    color: #F9F9F9;
    transition: color 0.3s ease;
    font-weight: 700;
}

.tips-intro-text a:hover {
    color: #8ACC8E;
}

.tips-intro-text:last-of-type {
    padding-bottom: 45px;
}

.tips-toc-title {
    font-size: 36px;
    margin: 30px;
}

.tips-intro-text {
    font-size: 18px;
    /*color: #241934;*/
    line-height: 1.7;
    margin-bottom: 30px;
}

.toc-list li a {
    font-weight: 600;
    font-size: 20px;
    color: #241934;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 4px 6px;
    transition: border-color 0.2s;
}

.toc-list li a:hover {
    border-color: #4B6E4E;
}

.tips-learning-callout {
    background-color: #C8E6C9;
    padding: 32px;
    margin-top: 48px;
    text-align: center;
    border: 1px solid #241934;
    border-radius: 8px;
}

.callout-heading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.callout-button {
    display: inline-block;
    margin-top: 12px;
    padding: 12px 24px;
    background-color: #4B6E4E;
    color: #F9F9F9;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.callout-button:hover,
.callout-button:focus-within {
    background-color: #3b5940;
}